<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
 

<section class="hero">
  
    <div class="container">
        <div class="hero-image">
            <img src="/static\aiman2.jpg" alt="">
        </div>
        <div class="hero-content">
            <h2>Welcome To My Website!</h2>
            <p>Hello, my name is Aiman, and I am from Pakistan. <br>I'm graduated from the NED University of Engineering and Technology in 2023 <br> with a degree in Computer Systems Engineering. Currently, <br> I am working as a software developer and also as a part-time private tutor, teaching Python coding.</p>
            <a href="/contact">  <button type="button"   >Let's Talk</button> </a>
          <a href="https://sg.docworkspace.com/d/sILHT-K9rz7-0tQY?sa=wa&ps=1&fn=Aiman_CV%20(1)%20(1)-1-1.pdf">  <button type="button" class="cv">My CV</button></a>
        </div>
      
    </div>
</section>

</body>
</html>