<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
 

<section class="hero">
  
    <div class="container">
        <div class="hero-image">
            <img src="/static\aiman2.jpg" alt="">
        </div>
        <div class="hero-content">
           
            <p>Hi, I'm Aiman, a Computer Systems Engineer with a passion for software development. <br> I graduated from NED University of Engineering and Technology in 2023.  <br>  Currently, I work as a software developer at Excel Pros.  <br> 
 <br> 
As a part-time private coding tutor, I enjoy helping  <br>  others develop their programming skills and achieve their goals.  <br> 
 <br> 
Feel free to explore my portfolio to see my latest work,  <br>  or contact me if you have any questions or collaboration ideas.  <br> 
</p>
             <a href="/project">  <button type="button" class="cv">See My Work</button></a>
<a href="/contact">  <button type="button" >Contact Me</button> </a>
         
        </div>
      
    </div>
</section>

</body>
</html>
