<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates</title>
    <link rel="stylesheet" href="/static/certifications.css">
    
    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
</head>
<body style="background-color: #f0f0f0;
margin-top: 140px;">
    <h1>CERTIFICATES</h1>
<div class="card-container">
    
    <div class="card">
        <img src="/static\IMG_20240802_171001.jpg" alt="">
        <div class="card-content">
            <h3>FGPA computing system</h3>
            <p>By Politecnico Milano</p>
            <a href="/static\IMG_20240802_171001.jpg" class="btn">View Certificate</a>
        </div>
    </div>
    <div class="card">
        <img src="/static\IMG-20240802-WA0018.jpg" alt="">
        <div class="card-content">
            <h3>CRASH COURSE ON PYTHON</h3>
            <p>By Google</p>
            <a href="/static\IMG-20240802-WA0018.jpg" class="btn">View Certificate</a>
        </div>
    </div>
</div>
   
</body>
</html>
