<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="/static/education.css">
    <%- include('partials/head') %>
    <%- include('partials/navbar') %>

</head>
<body>
    <div class="container">
        <main class="row">
            <section class="col">
                <header class="title">
                   
                    <h2>EDUCATION</h2>
                
                </header>
                <div class="contents"><div class="box">
                    <h4>2017 - 2019</h4>
                    <h3>Intermediate</h3>
                    <p>I have done my intermediate in pre-engineering from Mehran Model College Pano Akil, Pakistan and secured A-1 grade. </p>
                </div>
            
                <div class="box">
                    <h4>2019 - 2023</h4>
                    <h3>Bachelor’s Degree in Computer Systems Engineering, NED University of Engineering and Technology</h3>
                    <p>
                        • Majors: Machine Learning, Artificial Intelligence, Digital System Design,  <br> Computer Architecture, Computer System
                        Security, Computer System Modeling. <br>
                        </p>
                </div>
            </div>
            </section>




        </main>
    </div>
</body>
<footer>
    <p>&copy; 2023 Aiman Shaikh</p>
  </footer>
</html>
