<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="/static/education.css">
 
    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
</head>
<body>
  


    
    <div class="container">
        <main class="row">
            <section class="col">
                <header class="title">
                    <h2>EXPERIENCE</h2>
                </header>
                <div class="contents"><div class="box">
                    <h4>October 2023</h4>

                    <h3>Job Experience</h3>
                    <p> <b> • Excelpro </b><br>
                        Software Developer <br>
                        
◦ Enhanced user interfaces and server-side functionality using React and Node.js. <br>
◦ Maintained code quality and provided constructive team feedback.  <br>
◦ Advocated Agile methodology and conducted API testing with Postman.  <br>
◦ Managed projects and designed software applications.  
 </p>
                </div>
            
                <div class="box">
                  
                    <h3>Internships</h3>
                    <p>
                     
                        <b>• Neurocomputation Lab, National Center of Artificial Intelligence (NCAI) </b> <br>
                       
                      ◦ Contributed to a cutting-edge project using FPGA kits like PYNQ board and Zedboard. <br>
◦ Trained Deep Neural Networks (DNN) with MATLAB and utilized <br> pre-trained models such as MobileNet, ResNet50, GoogLeNet, VGG16, and AlexNet. <br>
◦ Learned Verilog basics for FPGA design. <br>
◦ Applied Computer Vision and FPGA technologies for Structural Health Monitoring in the Final Year Project. <br>


<br>
<br>

                        <p> <b> • CodeClause </b>
                            (remote) Vadgaon Pune, India <br>
                            Web Development Intern <br>
                          ◦ Developed a professional personal portfolio website from scratch. <br>
◦ Utilized HTML, CSS, and JavaScript to create a dynamic user interface. <br>
◦ Implemented responsive design principles for a user-friendly experience. <br>
◦ Ensured website structure and styling with HTML and CSS, and added interactivity with JavaScript. <br>

                        <a href="https://github.com/Aiman-CIS/CodeClause_PortfolioWebsite_AimanShaikh">https://github.com/Aiman-CIS/CodeClause_PortfolioWebsite_AimanShaikh</a></p>
               <br>
               <br>
               <p> <b> •  Karachi Development Authority (KDA), Karachi, Pakistan </b>
                Database Administrator Intern <br>
                ◦ Experienced the Management System and Payroll systems. <br>
                ◦ Learned about the servers and their role in the department. <br>
                Technologies: SQL developer</p>
                    </div>
           
                    <div class="box">
                   
    
                        <h3>Bachelor's Thesis</h3>
                        <p> 
                           <b> • Design of Structural Health Monitoring System on FPGA </b> <br>
                            Final Year Project <br>
                            <br>
                         ◦ Applied conventional computer vision techniques for crack detection. <br>
◦ Developed convolution, image segmentation, and crack detection modules in Verilog.<br>
◦ Trained the YOLOv7 model on a custom crack dataset.<br>
◦ Evaluated YOLOv7 performance.<br>
◦ Deployed the trained YOLOv7 model on PYNQ for inference.<br>
◦ Designed and developed a user-friendly desktop application for PYNQ interaction.<br>

                           <b>Click to open</b> <br>
                            <a href="https://sg.docworkspace.com/d/sIHvT-K9rtPKotQY">Final Detailed Research Report</a> <br>
                            <a href="https://sg.docworkspace.com/d/sINfT-K9r9PGotQY">Research Proposal</a>
                    </div>

                    <div class="box">
                   
    
                        <h3>Blogging Experience</h3>
                        <p> 
                           
                            ◦ A Life-Changing Experience: My Memorable Hostel Days- Published on Medium <br>
                            ◦ Enhancing Feature Learning with Transfer Learning and Custom Architectures: A Step-by-Step Guide
                           Published on Medium
                    </div>

                    <div class="box">
                   
    
                        <h3>Hackathons</h3>
                       <p>
                        <a href="https://lablab.ai/event/hello-gpt-4o-ai-challenge">https://lablab.ai/event/hello-gpt-4o-ai-challenge</a> <br>
                        Certificate : <a href="https://photos.app.goo.gl/EFeuq4orpcBnBD3u7">Hackathons Certificate</a>
                       </p>

                
                    </div>

                    <div class="box">
                   
    
                        <h3>As a Tutor</h3>
                       <p>I  am working as a part-time tutor. Previously, I provided online tutoring to international students through Fiverr and Preply. Now, I have a small private tutoring setup at home where I teach Python coding and mathematics to students.

                        Here's my Preply link 
                        <a href="https://preply.com/en/tutor/2201704">https://preply.com/tutor</a>
                       </p>

                
                    </div>
            </div>
            </section>




        </main>
    </div>
    
    <div class="container">
        <main class="row">
            <section class="col">
                <header class="title">
                    <h2>EXPERIENCE</h2>
                </header>
                <div class="contents"><div class="box">
                    <h4>October 2023</h4>

                    <h3>Job Experience</h3>
                    <p> <b> • Excelpro </b><br>
                        Software Developer <br>
                        
◦ Enhanced user interfaces and server-side functionality using React and Node.js. <br>
◦ Maintained code quality and provided constructive team feedback.  <br>
◦ Advocated Agile methodology and conducted API testing with Postman.  <br>
◦ Managed projects and designed software applications.  
 </p>
                </div>
            
                <div class="box">
                  
                    <h3>Internships</h3>
                    <p>
                     
                        <b>• Neurocomputation Lab, National Center of Artificial Intelligence (NCAI) </b> <br>
                       
                      ◦ Contributed to a cutting-edge project using FPGA kits like PYNQ board and Zedboard. <br>
◦ Trained Deep Neural Networks (DNN) with MATLAB and utilized <br> pre-trained models such as MobileNet, ResNet50, GoogLeNet, VGG16, and AlexNet. <br>
◦ Learned Verilog basics for FPGA design. <br>
◦ Applied Computer Vision and FPGA technologies for Structural Health Monitoring in the Final Year Project. <br>


<br>
<br>

                        <p> <b> • CodeClause </b>
                            (remote) Vadgaon Pune, India <br>
                            Web Development Intern <br>
                          ◦ Developed a professional personal portfolio website from scratch. <br>
◦ Utilized HTML, CSS, and JavaScript to create a dynamic user interface. <br>
◦ Implemented responsive design principles for a user-friendly experience. <br>
◦ Ensured website structure and styling with HTML and CSS, and added interactivity with JavaScript. <br>

                        <a href="https://github.com/Aiman-CIS/CodeClause_PortfolioWebsite_AimanShaikh">https://github.com/Aiman-CIS/CodeClause_PortfolioWebsite_AimanShaikh</a></p>
               <br>
               <br>
               <p> <b> •  Karachi Development Authority (KDA), Karachi, Pakistan </b>
                Database Administrator Intern <br>
                ◦ Experienced the Management System and Payroll systems. <br>
                ◦ Learned about the servers and their role in the department. <br>
                Technologies: SQL developer</p>
                    </div>
           
                    <div class="box">
                   
    
                        <h3>Bachelor's Thesis</h3>
                        <p> 
                           <b> • Design of Structural Health Monitoring System on FPGA </b> <br>
                            Final Year Project <br>
                            <br>
                         ◦ Applied conventional computer vision techniques for crack detection. <br>
◦ Developed convolution, image segmentation, and crack detection modules in Verilog.<br>
◦ Trained the YOLOv7 model on a custom crack dataset.<br>
◦ Evaluated YOLOv7 performance.<br>
◦ Deployed the trained YOLOv7 model on PYNQ for inference.<br>
◦ Designed and developed a user-friendly desktop application for PYNQ interaction.<br>

                           <b>Click to open</b> <br>
                            <a href="https://sg.docworkspace.com/d/sIHvT-K9rtPKotQY">Final Detailed Research Report</a> <br>
                            <a href="https://sg.docworkspace.com/d/sINfT-K9r9PGotQY">Research Proposal</a>
                    </div>

                    <div class="box">
                   
    
                        <h3>Blogging Experience</h3>
                        <p> 
                           
                            ◦ A Life-Changing Experience: My Memorable Hostel Days- Published on Medium <br>
                            ◦ Enhancing Feature Learning with Transfer Learning and Custom Architectures: A Step-by-Step Guide
                           Published on Medium
                    </div>

                    <div class="box">
                   
    
                        <h3>Hackathons</h3>
                       <p>
                        <a href="https://lablab.ai/event/hello-gpt-4o-ai-challenge">https://lablab.ai/event/hello-gpt-4o-ai-challenge</a> <br>
                        Certificate : <a href="https://photos.app.goo.gl/EFeuq4orpcBnBD3u7">Hackathons Certificate</a>
                       </p>

                
                    </div>

                    <div class="box">
                   
    
                        <h3>As a Tutor</h3>
                       <p>I  am working as a part-time tutor. Previously, I provided online tutoring to international students through Fiverr and Preply. Now, I have a small private tutoring setup at home where I teach Python coding and mathematics to students.

                        Here's my Preply link 
                        <a href="https://preply.com/en/tutor/2201704">https://preply.com/tutor</a>
                       </p>

                
                    </div>
            </div>
            </section>




        </main>
    </div>
   
</body>
<footer>
    <p>&copy; 2023 Aiman Shaikh</p>
  </footer>
</html>
