<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aiman Shaikh</title>
    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>




        <section class="section">
            <div class="selection-container">
                <div class="image">
                    <img src="/static/aiman1.jpg" alt="">
                </div>
                <div class="content">
<p> Welcome to my portfolio! </p>
                    <p class="subtitle">HELLO!</p>
                    <h1 class="title">
                          <div class="container">
                            I'm <span>Aiman<br></span>
                            <span class="text sec-text">a Software Developer </span>
                        </div>
                       
                       <script>
                      const text = document.querySelector(".sec-text");

                        const textLoad = () => {
                            setTimeout(() =>{
                                text.textContent = "an Engineer";
                            }, 0);
                            setTimeout(() =>{
                                text.textContent = "a Software Developer";
                            }, 4000);
                            setTimeout(() =>{
                                text.textContent = "a Tutor";
                            }, 8000);
                        }

                        textLoad();
                        setInterval(textLoad, 12000)
                       </script>
                    </h1>
                   <!-- <p class="description">
                        Welcome to my portfolio! I'm Aiman, a skilled and creative software developer. I am graduated from NED University in 2023 with a degree in Computer Systems Engineering. Now, I work as a remote software developer and also teach as a part-time job. I really enjoy doing both coding and teaching.
                    </p> -->
                    <div class="action-btns"> 
                      <a href="/about"><button class="hire-me">More About Me!</button></a>  
                    </div>
                </div>
                
            </div>
        </section>
</body>

</html>
