<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Skills & Dev Tools</title>
    <link rel="stylesheet" href="/static/skills.css">
    <%- include('partials/head') %>
    <%- include('partials/navbar') %>
  
</head>

<body style="background-color: #333; margin-top: 110px;">
    <div class="inner">
        <div class="header">
            <h1>Skills & Dev Tools</h1>
            <!-- <h2>Coding</h2> -->

        </div>

        <div class="container">
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\5847f5bdcef1014c0b5e489c.png" class="skill-icon" alt="">
                    </div>
                    <h3>HTML 5</h3>

                </div>


            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\62b221ef038aad4d3ed7ca2e.png" class="skill-icon" alt="">
                    </div>
                    <h3>CSS</h3>

                </div>
                

            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\62a74dd1223343fbc2207d00.png" class="skill-icon" alt="">
                    </div>
                    <h3>REACT</h3>

                </div>
                

            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\613b64fe30e8530004ba3a03.png" class="skill-icon" alt="">
                    </div>
                    <h3>JAVASCRIPT</h3>

                </div>
                

            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\5848152fcef1014c0b5e4967.png" class="skill-icon" alt="">
                    </div>
                    <h3>PYTHON</h3>

                </div>
            
            </div>

        
     
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\file-type-verilog.1024x1024.png" class="skill-icon" alt="">
                    </div>
                    <h3>VERILOG</h3>

                </div>
            
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\mysql.png" class="skill-icon" alt="">
                    </div>
                    <h3>MY SQL</h3>

                </div>
            
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\file-type-vscode.1024x1018.png" class="skill-icon" alt="">
                    </div>
                    <h3>VISUAL CODE</h3>

                </div>
            
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\file-type-matlab.1024x929.png" class="skill-icon" alt="">
                    </div>
                    <h3>MATLAB</h3>

                </div>
            
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\postman.996x1024.png" class="skill-icon" alt="">
                    </div>
                    <h3>POSTMAN</h3>

                </div>
            
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="/static\replit.1024x1024.png" class="skill-icon" alt="">
                    </div>
                    <h3>REPLIT</h3>

                </div>
            
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="https://user-images.githubusercontent.com/48672827/57464068-a2a35580-72ae-11e9-9d52-7cadbf0cb940.png" class="skill-icon" alt="">
                    </div>
                    <h3>XILINX VIVADO</h3>

                </div>
            
            </div>
      









        </div>
    </div>
</body>
<footer>
    <p>&copy; 2023 Aiman Shaikh</p>
  </footer>
</html>
