*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}


body{
  
  margin-top: 150px;

}

.inner{
    padding-top: 20px;
    padding-bottom: 30px;
}

footer {
    background-color:#333; /* Light grey background */
    text-align: center;        /* Center align text */
    padding: 10px;            /* Padding around the text */
    position: relative;       /* Position relative for placement */
    bottom: 0;                /* Align to bottom of the page */
    width: 100%;   
    color: white;           /* Full width of the page */
}
.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
 
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}

.container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
 .skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover> .skill-title:before{
width: 35px;
}
.skill-box:hover .img{
    transform: translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.skill-title:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    width:0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: 0.5s;
}
.skill-title:before{
    content: "";
    position: absolute;
    bottom: 0;
   left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title h3{
    color: #fff;
    margin-top: 0.5rem
}

.img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}

@media screen and (max-width : 990px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;

    }
    .skill-title{
        font-size: 12px;
    }
    .header{
        font-size: 20px;
    }
} 

@media screen and (max-width : 650px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;

    }
    .skill-title{
        font-size: 15px;
    }
    .header{
        font-size: 15px;
    }
} 